@tailwind base;

@tailwind components;

@tailwind utilities;

@screen md {
  #responsive-nav {
    display: flex !important;
  }
}

.bg-beranda {
  min-height: calc(100vh - 80px);
  background-image: url("../asset/img/Beranda/beranda.png");
}

.bg-card-1 {
  border-radius: 3rem;
  background-image: url("../asset/img/Beranda/card1.png");
  min-height: 65vh;
  min-width: 348px;
}

.bg-card-2 {
  border-radius: 3rem;
  background-image: url("../asset/img/Beranda/card2.png");
  min-height: 65vh;
  min-width: 348px;
}

.bg-card-3 {
  border-radius: 3rem;
  background-image: url("../asset/img/Beranda/card3.png");
  min-height: 65vh;
  min-width: 348px;
}

.bg-custom-green {
  background-color: #51fcb7;
}

.bg-custom-green2 {
  background-color: #98fea5;
}
