@tailwind base;

@tailwind components;

@tailwind utilities;

@screen md {
  #responsive-nav {
    display: flex !important;
  }
}

@screen lg {
  .bg-beranda {
    height: calc(100vh - 80px) !important;
  }
}

@screen xl {
  .bg-card-1,
  .bg-card-2,
  .bg-card-3 {
    width: 320px !important;
  }
}

.bg-beranda {
  height: calc(70vh - 80px);
  background-image: url("../asset/img/Beranda/beranda.png");
}

.bg-card-1 {
  border-radius: 3rem;
  background-image: url("../asset/img/Beranda/card1.png");
  height: 450px;
  width: 300px;
}

.bg-card-2 {
  border-radius: 3rem;
  background-image: url("../asset/img/Beranda/card2.png");
  height: 450px;
  width: 300px;
}

.bg-card-3 {
  border-radius: 3rem;
  background-image: url("../asset/img/Beranda/card3.png");
  height: 450px;
  width: 300px;
}

.bg-custom-green {
  background-color: #51fcb7;
}

.bg-custom-green2 {
  background-color: #98fea5;
}
